services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    # ports:
    #   - '3000:3000'
    volumes:
      - perplexica-data:/home/perplexica/data
    restart: unless-stopped
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  perplexica-data:
